section.approch
    .conteiner
        .title.title--with-bottom-line
            h2.title.title__header Our approach
            .title__text Check our approaches step by step (how we do it)



        ul.approch__list
            li.approch__item 
                .approch__image
                    img.approch__picture(src="../../images/step-1.jpg" alt="step-1")
                    .approch__step step
                .approch__text
                    .approch__title Step 1: Heading Here
                    p.approch__description.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto iure suscipit quisquam animi rem dolore enim libero sequi aliquid, 
                        ratione quod, sit sint distinctio quia expedita voluptates sapiente aut aspernatur.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto iure suscipit quisquam animi rem dolore enim libero sequi aliquid, 
                        ratione quod, sit sint distinctio quia expedita voluptates sapiente aut aspernatur.
            li.approch__item 
                .approch__image
                    img.approch__picture(src="../../images/step-2.jpg" alt="step-2")
                    .approch__step step
                .approch__text
                    .approch__title Step 2: Heading Here
                    p.approch__description.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto iure suscipit quisquam animi rem dolore enim libero sequi aliquid, 
                        ratione quod, sit sint distinctio quia expedita voluptates sapiente aut aspernatur.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto iure suscipit quisquam animi rem dolore enim libero sequi aliquid, 
                        ratione quod, sit sint distinctio quia expedita voluptates sapiente aut aspernatur.            
            li.approch__item 
                .approch__image
                    img.approch__picture(src="../../images/step-3.jpg" alt="step-3")
                    .approch__step step
                .approch__text
                    .approch__title Step 3: Heading Here
                    p.approch__description.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto iure suscipit quisquam animi rem dolore enim libero sequi aliquid, 
                        ratione quod, sit sint distinctio quia expedita voluptates sapiente aut aspernatur.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto iure suscipit quisquam animi rem dolore enim libero sequi aliquid, 
                        ratione quod, sit sint distinctio quia expedita voluptates sapiente aut aspernatur.    
            li.approch__item 
                .approch__image
                    img.approch__picture(src="../../images/step-4.jpg" alt="step-4")
                    .approch__step step
                .approch__text
                    .approch__title Step 4: Heading Here
                    p.approch__description.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto iure suscipit quisquam animi rem dolore enim libero sequi aliquid, 
                        ratione quod, sit sint distinctio quia expedita voluptates sapiente aut aspernatur.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto iure suscipit quisquam animi rem dolore enim libero sequi aliquid, 
                        ratione quod, sit sint distinctio quia expedita voluptates sapiente aut aspernatur.                                           
            
