.contacts
    a.contact(href="tel:+375297153194")
        i.fa.fa-mobile.contact__icon(aria-hidden="true")
            span.contact__text 715 31 94
    a.contact(href="mailto:info@business.co")  
        i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
            span.contact__text info@business.co
    a.contact(href="fasebook.com")   
        i.fa.fa-facebook.facebook-icon(aria-hidden="true")   